#home{
    display: flex;
    width: 100vw;
    height: 100%;
    background: url('../Resources/trainImage.png') no-repeat center center/cover;
}
#home .searchbar{
    margin: 200px auto;
}
#home .searchbar input{
    height: 46px;
    width: 210px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid black;
}
#home .searchbar button{
    height: 46px;
    width: 144px;
    border-width: 0;
    background-color: #d74f57;
    color: #fff;
    font-size: 14px;
    font-weight: 900!important;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    border-radius: 2px;
}
#home img{
    width: 30px;
    height: 30px;
    position: relative;
    right: 588px;
    top: 12px;
    cursor: pointer;
}